.olo{
    flex-direction: column;
}

.div{
    width: 100%;
    background-color: tomato;
    color:#fff; 
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: 95%;
    margin: 0;
}